.jumbotron{
	background-image: url(https://www.casons.lk/uploads/inner_banner/inner-banner.jpg);
	color: white;
	font-size: 3em;
    
    background-repeat: no-repeat;
    background-size: cover;
   

}
.open-button {
  background-color: #0A6AE4;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5%;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  font-weight: bold;
}


.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

	.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: #DC244E;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



.checked{
  color: orange;
}
.navbar-nav{
	color: red;
}



